<mat-card class="standard-card" style="border-radius: 18px; ">
  <mat-card-title style="text-align: center;">New Timer</mat-card-title>
  <mat-card-content
    class="add"
    style="
      display: flex;
      align-content: center;
      justify-content: center;
      height: 190px;
    "
  >
    <mat-icon class="add" (click)="newCard()" style="transform: scaleX(8) scaleY(8); margin-top: 85px;"
      >alarm_add</mat-icon
    >
  </mat-card-content>
  <mat-form-field appearance="fill" style="width:100%">
    <input matInput placeholder="Name" [(ngModel)]="name" />
  </mat-form-field>
</mat-card>
